.footer__container{
    height: 46vh;
    background-color: #28231C;
}
.footer__box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 5rem;
    &-logo{
        
        height: 15rem;
    }
}
.footer__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: center;
    
}
.footer__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100rem;
}
.footer__content-div{
    border-top: 1px solid  rgba(156, 152, 152, 0.5);
    margin: 1rem;
    padding: .5rem;

    &-p{
        display: block;
        padding: .3rem;
        color: $white;
        font-size: 1.3rem;
        cursor: pointer;
        text-transform: uppercase;
        transition: all .3 ease-in-out;
    &:hover{
        
       
        transform: scale(1.20);
        color: orangered;
    }
    }
    &-icon{
        color: $white;
        font-size: $upper-font-size;
        margin: .1rem;
        transition: all .3s ease;
        display: block;
        &:hover{
            transform: scale(1.20);
            border-radius: 3px;
            color: orangered;
        }
    }

}
